body {
     margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("resources/signUp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; /* Prevent scrolling */
}
.navbar{
    background-color:rgb(5, 64, 158);
    height: 50px;
}
.nav-links{
    margin-left: 900px;
    padding-top: 6px;
    color: rgb(0, 0, 0);    
}
.navbar img {
    position: absolute;
    left: 50%;
    width: 43px;
    height: 40px;
    border-radius:5px;
    border: 3px solid white;
    margin-left: -700px;
    margin-top: 2px;
}
.navbar h1 {
    position: absolute;
    left: 50%;
    margin-left: -640px;
    font-size: 15px;
    color:  black;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow:
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff;   
}
.navbar a {
    color: rgb(5, 118, 170);
    text-decoration: none;
    padding: 5px 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 #ffffff8f,  
         1px -1px 0 #ffffff90,
        -1px  1px 0 #ffffff82,
         1px  1px 0 #ffffff8a;
}
.navbar a:hover {
    color: rgb(32, 119, 225);
    font-size: x-large;
    
}

.signUp form{
    position: absolute;
    background-color: rgba(184, 217, 230, 0.796);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Center vertically */
    align-items: center;       /* Center horizontally */
    padding: 30px 40px;
    width: 30%;
    height: 60%;
    margin-left: 30%;
    margin-top: 5%;
    box-shadow: #84b1cd 0px 2px 2px 4px;
}
form h2{
    margin-top: -10px;
}
.card1{
    width: 300px;
    height: 35px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 15px;
    box-shadow: 2px 2px 2px 2px blue;

}
.card1 img {
    position: absolute;
}
.card1:hover{
    height: 40px;
    width: 310px;
    box-shadow: 2px 2px 2px 2px rgb(2, 2, 31);

}

.login-text:hover{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.checkbox{
    margin-top: 30px;
    
}
.CreateAccount{
    background-color: aqua;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px blue;
}
.CreateAccount:hover{
    height: 35px;
    width: 160px;
    box-shadow: 2px 2px 2px 2px blue;
    cursor:pointer;
    font-size: medium;
}
.input{
    border: none;
    outline: none;
    font-size: 15px;
    width: 80%;
    height: 100%;
    margin-left: 35px;
}
.alert{
    position: absolute;
    visibility: hidden;
    border-radius: 8px;
    font-size: 18px;
    margin: 20px auto;
    color: red;
    background-color: rgba(255, 255, 255, 0.47);
    text-align: center;
    animation: fadeInOut 5s 1;
    
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-20px); }
    50% { opacity: 1; transform: translateY(0); }
    100% { opacity: 1; transform: translateY(0); }
}
.signUp p{
    margin-top: 30px;
    font-weight: bold;
}



footer{
   margin-top: auto;
   color: white;
   background-color:rgb(5, 64, 158);
   height: 30px;
   text-align: center;
}
footer p{
    margin-top: 5px;
}   